.button,
.button_active,
.button_text,
.disabled {
  padding: 0.5rem 0.9375rem;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: transparent;
  color: var(--text-secondary-color);
  border: 0.125rem solid var(--text-secondary-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  color: var(--main-bg-color-light);
  border: 0.125rem solid var(--main-bg-color-light);
}

.button_active {
  background-color: var(--main-bg-color-light);
  color: white;
  border: none;
}

.button_text {
  border: none;
  padding: 0;
}

.button_text:hover {
  color: var(--main-bg-color-light);
}

.disabled.button_active {
  background-color: var(--text-secondary-color);
  color: white;
  border: none;
}

.disabled.button {
  color: var(--text-secondary-color);
  border: 0.125rem solid var(--text-secondary-color);
}

.text_disabled {
  color: var(--text-secondary-color);
}

.disabled,
.text_disabled {
  cursor: not-allowed;
}

.disabled.button:hover {
  color: var(--text-secondary-color);
  border: 0.125rem solid var(--text-secondary-color);
  cursor: not-allowed;
}

.disabled.button_active:hover {
  background-color: var(--text-secondary-color);
  border: nene;
  color: white;
  cursor: not-allowed;
}