.icon_button {
    background: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px;
}

.icon_button:hover {
    background-color: rgba(var(--main-bg-color-rgb), 0.062);
    color: var(--main-bg-color);
}