.rectangle {
  background-color: #e1e1e1;
  animation: pulse 1s infinite alternate;
}

.circle {
  border-radius: 50%;
  background-color: #e1e1e1;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
