.filterbar_container {
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
}

.filterbar_container::-webkit-scrollbar {
    display: none;
}