.cartList_container {
    max-width: 100%;
    padding: 0 1.25rem;
    max-height: 65vh;
    overflow-y: auto;
}

.cartList_list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cartListItem_container {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.825rem;
}

.product_title {
    font-size: 0.9375rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 85%;
}

.productInfo_container {
    display: flex;
    width: 100%;
    gap: 1.5625rem;
    justify-content: center;
    align-items: center;
}

.productTitle_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.625rem;
}

.productDetail_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
}

.productDescription_container {
    display: flex;
    width: 100%;
    gap: 1.5625rem;
    justify-content: space-between;
    font-weight: 500;
    color: var(--text-secondary-color);
    font-size: 0.75rem;
}

.color_container {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}

.cartAmount_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 1.25rem;
}

.tags_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.3125rem;
}

.quantity_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    max-width: 6.25rem;
    border-radius: 0.9375rem;
    padding: 0 0.625rem;
    border: 0.0625rem solid rgba(224, 224, 224, .3);
}


.quantity_container>p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
}

.amount_container {
    font-size: 0.75rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

}

.productCart_price {
    font-size: 1rem;
    color: black;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.625rem;
}

.productCart_oldPrice {
    font-size: 0.75rem;
    color: var(--text-secondary-color);
    font-weight: 500;
    text-decoration: line-through;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.625rem;
}

.totalAmount_container {
    display: grid;
    align-items: end;
    text-align: end;
    gap: 1rem;
    padding: 0.625rem 1.25rem;
}

.totalAmount_container>span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 600;
    gap: 1.5rem;
    color: var(--text-secondary-color);
}

.totalAmount_price {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}