html,
*,
body {
  margin: 0;
}

*::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background-color: #f8f8f8;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  max-height: 1.875rem;
  -webkit-box-shadow: inset 0 0 0.1875rem rgba(0, 0, 0, 0.3);
  background-color: silver;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  position: relative;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
}

.loader {
  border: 0.375rem solid var(--text-secondary-color);
  border-top: 0.375rem solid var(--main-bg-color);
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:root {
  --main-bg-color: #ff3131;
  --main-bg-color-rgb: 255, 49, 49;
  --main-bg-color-light: #fc7979;
  --text-secondary-color: #999999;
  --text-secondary-color-rgb: 153, 153, 153;
  --text-title: #787878;
  --text-title-rgb: 120, 120, 120;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../public/fonts/PublicSans-Variable.woff2') format('woff2 supports variations'),
    url('../public/fonts/PublicSans-Variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../public/fonts/PublicSans-Variable-Italic.woff2') format('woff2 supports variations'),
    url('../public/fonts/PublicSans-Variable-Italic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: Public Sans, Helvetica, sans-serif;
  font-size: 0.875rem;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
  color: initial;
}