html,
*,
body {
    margin: 0;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    max-height: 50px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: var(--text-secondary-color);
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
}

.loader {
    border: 6px solid var(--text-secondary-color);
    border-top: 6px solid var(--main-bg-color);
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

:root {
    --main-bg-color: #FF3131;
    --main-bg-color-rgb: 255, 49, 49;
    --main-bg-color-light: #fc7979;
    --text-secondary-color: #999999;
    --text-secondary-color-rgb: 153, 153, 153;
    --text-title: #787878;
    --text-title-rgb: 120, 120, 120;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../public/fonts/PublicSans-Variable.woff2') format('woff2 supports variations'),
        url('../public/fonts/PublicSans-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../public/fonts/PublicSans-Variable-Italic.woff2') format('woff2 supports variations'),
        url('../public/fonts/PublicSans-Variable-Italic.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
}

body {
    font-family: Public Sans, Helvetica, sans-serif;
    font-size: 0.875rem;
}