.header_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.navigation_container {
    display: flex;
    gap: 30px;
}

.navigation_link {
    text-decoration: none;
    font-weight: 600;
    color: rgb(153, 153, 153);
}

.navigation_link_selected {
    text-decoration: none;
    font-weight: 600;
    color: rgb(17, 127, 253);
}

.actions_container {
    display: flex;
    gap: 8px;
}