.main_container {
    display: flex;
    gap: 10px;
    padding: 10px;
    max-width: 1400px;
    margin: auto;
}

.main_contein {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.recommended_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}