.main_container {
  display: flex;
  gap: 0.625rem;
  padding: 0.625rem;
  max-width: 87.5rem;
  margin: auto;
}

.main_contein {
  padding: 0 0.9375rem;
  display: flex;
  flex-direction: column;
  width: calc(100% - 14.375rem);
  gap: 0.625rem;
  overflow-x: hidden;
}

.recommended_section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: -webkit-fill-available;
}
