.layout {
  display: flex;
  gap: 0.625rem;
  padding: 0.625rem;
  max-width: 87.5rem;
  margin: auto;
}

.main_conteiner {
  padding: 0 0.9375rem;
  display: flex;
  flex-direction: column;
  width: calc(100% - 14.375rem);
  gap: 0.625rem;
  overflow-x: hidden;
}

.recommended_section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: -webkit-fill-available;
}


@media screen and (max-width: 1024px) {
  .layout {
    max-width: -webkit-fill-available;
    width: 100%;
    padding: 0;
    flex-direction: column;
    gap: 0;
  }

  .main_conteiner {
    max-width: -webkit-fill-available;
    width: 100%;
    padding: 0;
    gap: 0.625rem;
    overflow-x: hidden;
  }

  .recommended_section {
    padding: 0 0.625rem;
    margin-top: 1.25rem;
  }
}